.container__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__div {
    margin: 20px;
  }

  &__link {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
}

.container__article {
  background-color: rgb(28, 158, 187);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 0 30px 0;


  &--img {
    margin: 20px 50px;
    border-radius: 10%;
    border: solid 6px #4de645;

  }
}

.icon {

  &__heart {
    margin-left: 5px;
    font-size: 22px;
  }

  &__alien {
    color: #4de645;
    font-size: 25px;
  }

  &__human {
    margin-left: 5px;
  }
}

.container__section {
  padding-right: 40px;
  list-style: none;

}

@media all and (max-width:480px) {
  .container__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
  }

  .container__article {
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 18px;

    &--img {
      margin: 20px;
    }
  }
}
