.item {


  &__text {
    text-align: center;
    background-color: rgb(44, 204, 204);
    width: 100%;
    border-radius: 0 0 15px 15px;

    & a {
      color: white;
      text-decoration: none;
    }

  }

  &__list {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(80, 235, 80);
    border-radius: 20px;
    transition: all ease 1s;


    &:hover {
      box-shadow: 1px 0px 15px 15px rgba(69, 232, 80, 0.6);

    }


    &--img {
      border-radius: 20px 20px 0 0;
      height: auto;

    }
  }


}
