.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__title {
    width: 300px;
  }

  &__logo {
    width: 180px;
    margin-top: 25px;
    transition: all ease 5s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}
