* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;


}

body {
  background: url('../images/dark.jpg') center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}
